// See https://zmk.dev/docs/development/hardware-integration/new-shield for more
// instructions.

#include <dt-bindings/zmk/matrix_transform.h>

#include "numpad-layouts.dtsi"

/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };

    kscan: kscan {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;

        input-gpios
            = <&xiao_d 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // SW1
            , <&xiao_d 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // SW2
            , <&xiao_d 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // SW3
            , <&xiao_d 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // SW4
            , <&xiao_d 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // SW5
            , <&xiao_d 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // SW6
            , <&xiao_d 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // SW7
            , <&xiao_d 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // SW8
            , <&xiao_d 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // SW9
            ;
    };

    default_transform: default_transform {
        compatible = "zmk,matrix-transform";
        columns = <3>;
        rows = <3>;

        map =<
            RC(0,0) RC(0,1) RC(0,2)
            RC(1,0) RC(1,1) RC(1,2)
            RC(2,0) RC(2,1) RC(2,2)
        >;
    };
};